<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Formulario</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <h1 class="title">Navegacion</h1>
            <a class="navbar-item" href="../views/index.html">Formulario</a>
            <a class="navbar-item" href="../views/list.html">Lista</a>
        </nav>
    </header>

    <main class="container">
        <form class="form">
            <h1>Formulario</h1>
            <p id="message"></p>
            <input type="text" placeholder="Nombre" name="full_name"><br>
            <input type="text" placeholder="Cedula" name="CI"><br>
            <input type="email" placeholder="Email" name="email"><br>
            <button class="form-button" type="submit">Enviar datos</button>
        </form>
    </main>

    <script type="module" src="../js/index.js"></script>
</body>

</html>